.smartbannerShow.smartbannerMarginTop {
  margin-top: 80px;
}

.smartbannerShow.smartbannerMarginBottom {
  margin-bottom: 80px;
}

.smartbannerShow .smartbanner {
  display: block;
}

.smartbanner {
  left: 0;
  display: none;
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-family: Helvetica Neue, sans-serif;
  background: rgb(244, 244, 244);
  z-index: 9998;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  -webkit-text-size-adjust: none;
}

.smartbannerTop {
  position: absolute;
  top: 0;
}

.smartbannerBottom {
  position: fixed;
  bottom: 0;
}

.smartbannerContainer {
  margin: 0 auto;
  padding: 0 5px;
}

.smartbannerClose {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 0 0;
  font-family: ArialRoundedMTBold, Arial;
  font-size: 20px;
  text-align: center;
  color: rgb(136, 136, 136);
  text-decoration: none;
  border: 0;
  border-radius: 14px;
  padding: 0 0 1px;
  background-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
}

.smartbannerClose:active,
.smartbannerClose:hover {
  color: rgb(170, 170, 170);
}

.smartbannerIcon {
  width: 57px;
  height: 57px;
  margin-right: 12px;
  background-size: cover;
  border-radius: 10px;
}

.smartbannerIcon,
.smartbannerInfo {
  display: inline-block;
  vertical-align: middle;
}

.smartbannerInfo {
  white-space: normal;
  width: calc(99% - 201px);
  font-size: 11px;
  line-height: 1.2em;
  font-weight: 700;
}

.smartbannerWrapper {
  max-width: 110px;
  display: inline-block;
  text-align: right;
  width: 100%;
}

.smartbanneTitle {
  font-size: 13px;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.smartbannerDescription {
  max-height: 40px;
  overflow: hidden;
}

.smartbannerAuthor {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.smartbannerAuthor:empty + .smartbannerDescription {
  max-height: 50px;
}

.smartbannerButton {
  margin: auto 0;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  font-weight: 700;
  color: rgb(106, 106, 106);
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  text-shadow: 0 1px 0 hsla(0, 0%, 100%, 0.8);
}

.smartbannerButton:active,
.smartbannerButton:hover {
  color: rgb(170, 170, 170);
}

.smartbannerIos {
  background: rgb(242, 242, 242);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  line-height: 80px;
}

.smartbannerIos .smartbannerClose {
  border: 0;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-family: Arial;
  color: rgb(136, 136, 136);
  text-shadow: 0 1px 0 white;
  -webkit-font-smoothing: none;
}

.smartbannerIos .smartbannerClose:active,
.smartbannerIos .smartbannerClose:hover {
  color: rgb(136, 136, 136);
}

.smartbannerIos .smartbannerIcon {
  background-size: cover;
}

.smartbannerIos .smartbannerInfo {
  color: rgb(106, 106, 106);
  text-shadow: 0 1px 0 hsla(0, 0%, 100%, 0.8);
  font-weight: 300;
}

.smartbannerIos .smartbannerTitle {
  color: rgb(77, 77, 77);
  font-weight: 500;
}

.smartbannerIos .smartbannerButton {
  padding: 0 10px;
  font-size: 15px;
  min-width: 10%;
  font-weight: 400;
  color: rgb(12, 113, 253);
}

.smartbannerIos .smartbannerButton:active,
.smartbannerIos .smartbannerButton:hover {
  background: rgb(242, 242, 242);
}

.smartbannerAndroid {
  background: rgb(61, 61, 61)
    url('data:image/gif;base64, R0lGODlhCAAIAIABAFVVVf ///yH5BAEHAAEALAAAAAAIAAgAAAINRG4XudroGJBRsYcxKAA7');
  box-shadow: inset 0 4px 0 rgb(136, 177, 49);
  line-height: 82px;
}

.smartbannerAndroid .smartbannerClose {
  border: 0;
  max-width: 17px;
  width: 100%;
  height: 17px;
  line-height: 17px;
  margin-right: 7px;
  color: rgb(177, 177, 179);
  background: rgb(28, 30, 33);
  text-shadow: 0 1px 1px black;
  text-decoration: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.8),
    0 1px 1px hsla(0, 0%, 100%, 0.3);
  cursor: pointer;
}

.smartbannerAndroid .smartbannerClose:active,
.smartbannerAndroid .smartbannerClose:hover {
  color: rgb(238, 238, 238);
}

.smartbannerAndroid .smartbannerIcon {
  background-color: transparent;
  box-shadow: none;
}

.smartbannerAndroid .smartbannerInfo {
  color: rgb(204, 204, 204);
  text-shadow: 0 1px 2px black;
}

.smartbannerAndroid .smartbannerTitle {
  color: white;
  font-weight: 700;
}

.smartbannerAndroid .smartbannerButton {
  min-width: 12%;
  color: rgb(209, 209, 209);
  font-weight: 700;
  padding: 0;
  background: none;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgb(51, 51, 51), 0 0 0 2px rgb(221, 220, 220);
}

.smartbannerAndroid .smartbannerButton:active,
.smartbannerAndroid .smartbannerButton:hover {
  background: none;
}

.smartbannerAndroid .smartbannerButtonText {
  text-align: center;
  display: block;
  padding: 0 10px;
  background: rgb(66, 182, 201);
  background: linear-gradient(180deg, rgb(66, 182, 201), rgb(57, 169, 187));
  text-transform: none;
  text-shadow: none;
  box-shadow: none;
}

.smartbannerAndroid .smartbannerButtonText:active,
.smartbannerAndroid .smartbannerButtonText:hover {
  background: rgb(42, 199, 225);
}
